<footer>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-heading"><b>Concertá una Entrevista con Nosotros</b></h3>
                    <hr class="primary">
                    <p>¿Listos para emprender un proyecto interdependiente? ¡Genial! <br/> Llamanos o envíanos un Email,
                        ¡Te
                        responderemos cuanto antes!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>11-2051-9588<br/> 11-2183-6922
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:contacto@eelonline.com.ar">contacto@eelonline.com.ar</a></p>
                </div>
            </div>
        </div>
    </section>
</footer>
