<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inglés Para Empresas | eelonline</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.min.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">

    <!-- Loading CSS / JS -->
    <link href="css/loading.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="js/loading.js"></script>
    <script src="js/site.js"></script>

    <!-- Custom Fonts -->
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- Loading -->
<div class="loader">
    <div class="icon-loader"></div>
</div>
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" onclick="navigateToUrl('/#page-top', true)" href="#page-top">eelonline.com.ar</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" rel="nofollow" onclick="navigateToUrl('/#content', false)" href="#content">Servicios</a>
                </li>
                <li>
                    <a class="page-scroll" rel="nofollow" href="#contact">Contacto</a>
                </li>
                <li>
                    <a class="page-scroll" href="/nosotros.html">Nosotros</a>
                </li>
                <!--<li>
                    <a class="page-scroll" rel="nofollow" href="https://www.eelonline.com.ar/moodle/login/">Ingresar</a>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="./img/logo.svg" style="width: 150px; height:auto; padding-bottom:25px;" alt="logo de eelonline">
            <h1 id="homeHeading">Easy English Learning</h1>
            <h2>Inglés para empresas</h2>
        </div>
    </div>
</header>