<!DOCTYPE html>
<html class="t-{{ site.themeColor }}">

{% include header.html %}

<body id="page-top">

{{ content }}

<!-- /.container -->
<br/><br/>
<br/>
<br/><br/>
<br/>
<aside id="contact" class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h3><b>¿Necesitas más información?</b></h3>
            <a href="mailto:contacto@eelonline.com.ar" class="btn btn-default btn-xl sr-button">Envíanos un mensaje</a>
        </div>
    </div>
</aside>

{% include footer.html %}

</body>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/creative.min.js"></script>

</html>